<% layout('layouts/boilerplate') %>

<section class="edit-section" id="edit-section">
  <div class="edit-main">
    <div class="edit-background">
      <div class="edit-overlay"></div>
    </div>

    <div class="edit-column-1">
      <div class="edit-text">
        <h1><%= spot.title %></h1>
        <h2><%= spot.location %></h2>
      </div>
      <div class="edit-image">
        <% for(let img of spot.images) { %>
        <img src="<%= img.url %>" alt="" />

        <% } %>
      </div>
    </div>
    <div class="edit-column-2">
      <div class="edit-form">
        <form
          action="/spots/<%= spot._id %>?_method=PUT"
          method="POST"
          id="edit-form"
          class="edit-form"
          enctype="multipart/form-data"
        >
          <div class="form-control-edit">
            <label for="title">Name: </label>
            <input
              type="text"
              id="edit-title"
              name="spot[title]"
              value="<%= spot.title %>"
              size="25"
            />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small class="small-error">Error</small>
            <small class="small-success">Looks Good</small>
          </div>

          <div class="form-control-edit">
            <label class="image-label" for="image"
              >Add Images:
              <input
                class="image-input"
                type="file"
                id="edit-image"
                name="image"
                multiple
              />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
              <small class="small-error">Error</small>
              <small class="small-success">Looks Good</small>
            </label>
          </div>

          <div class="form-control-edit">
            <label for="location">Description:</label>
            <textarea
              name="spot[description]"
              placeholder=""
              id="edit-description"
              cols="25"
              rows="1"
            ></textarea>
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small class="small-error">Error</small>
            <small class="small-success">Looks Good</small>
          </div>

          <div class="form-control-edit">
            <label for="location">Location:</label>
            <input
              type="text"
              id="edit-location"
              name="spot[location]"
              value="<%= spot.location %>"
            />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small class="small-error">Error</small>
            <small class="small-success">Looks Good</small>
          </div>
          <div class="edit-page-buttons">
            <button class="edit-button" id="edit-button">Update Spot</button>
            <a href="/spots/<%= spot._id %>">Back to Spot</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="/public/javascript/validateEditForms.js"></script>
<script>
  function changeContent() {
    document.getElementById('edit-description').innerText =
      '<%= spot.description %>';
  }
  changeContent();
</script>
