<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/8a592e980d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/assets/styles.css" />
    <title>Edit Spot</title>
  </head>
  <body>
    <div class="edit-main">
    <section class="edit-section" id="edit-section">
      <h1><%= spot.title %></h1>
      <h2><%= spot.location %></h2>
      <form action="/spots" method="POST">
        <div>
          <label for="title">Spot Name: </label>
          <input
            type="text"
            id="title"
            name="spot[title]"
            value="<%= spot.title %>"
          />
        </div>
        <div>
          <label for="location">Spot Location: </label>
          <input
            type="text"
            id="location"
            name="spot[location]"
            value="<%= spot.location %>"
          />
        </div>
        <button>Update Spot</button>
      </form>
      <a href="/spots/<%= spot._id %>">Back to Spot</a>
    </div>
    </section>
  </body>
</html>
