<% layout('layouts/boilerplate') %>

<section class="edit-section" id="edit-section">
  <div class="edit-main">
    <div class="edit-column-1">
      <div class="edit-text">
        <h1><%= spot.title %></h1>
        <h2><%= spot.location %></h2>
      </div>
      <div class="edit-image">
        <img src="<%= spot.image %>" alt="" />
      </div>
    </div>
    <div class="edit-column-2">
      <div class="edit-form">
        <form action="/spots/<%= spot._id %>?_method=PUT" method="POST">
          <div>
            <label for="title">Spot Name: </label>
            <input
              type="text"
              id="title"
              name="spot[title]"
              value="<%= spot.title %>"
              size="25"
            />
          </div>
          <div>
            <label class="image-label" for="image">Image Url:</label>
            <input
              class="image-imput"
              type="text"
              id="image"
              name="spot[image]"
              size="27"
            />
          </div>
          <div class="form-text-area">
            <label for="location">Description: </label>
            <textarea
              name="spot[description]"
              placeholder=" <%= spot.description %>"
              id="description"
              cols="25"
              rows="2"
            ></textarea>
          </div>
          <div>
            <label for="location">Spot Location:</label>
            <input
              type="text"
              id="location"
              name="spot[location]"
              value="<%= spot.location %>"
            />
          </div>
          <button class="edit-button">Update Spot</button>
        </form>
      </div>
      <div class="edit-home-button">
        <a href="/spots/<%= spot._id %>">Back to Spot</a>
      </div>
    </div>
  </div>
</section>
