<% layout('layouts/boilerplate') %>

<section class="index-section" id="index-section">
  <div class="index-background">
    <div class="index-overlay"></div>
  </div>

  <div class="index-main">
    <div class="index-column-1">
      <div class="index-text">
        <div class="index-text-main">
          <h1>Newest Spots</h1>
        </div>
        <div class="add-button">
          <h2 class="add-button1"><a href="/spots/new">Add a Spot</a></h2>
          <!-- <h2 class="add-button2"><a href="/">Home</a></h2> -->
        </div>
        <%- include('../partials/flash') %>
      </div>
      <div class="index-map" id="map"></div>
    </div>

    <div class="index-column-2">
      <div class="index-list">
        <ul>
          <% for (let spot of spots) { %>

          <li>
            <div class="index-list-image">
              <% if (spot.images.length) { %>
              <img src="<%= spot.images[0].url %>" alt="" />
              <% } else {%>
              <img src="/Images/SFlogoRed.png" alt="" />
              <% } %>
            </div>
            <h2><%= spot.title %></h2>
            <h6 class="index-description"><%= spot.description %></h6>
            <div class="loc-btn">
              <p class="index-location">
                <%= spot.location %> -
                <div class="index-btn">
                  <a class="index-view-btn" href="/spots/<%= spot._id %>"
                 >ViewSpot</a
                  >
            </div>
            </p>
          </div>
          </li>

          <% } %>
        </ul>
      </div>
    </div>
  </div>
</section>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const spots = { features: <%- JSON.stringify(spots) %> };
</script>

<script src="/public/javascript/indexPageMap.js"></script>
