<% layout('layouts/boilerplate') %>

<section class="show-section">
  <div class="show-main">
    <div class="show-background">
      <div class="show-overlay"></div>
    </div>
    <div class="show-card">
      <div class="show-text">
        <h1><%= spot.title %></h1>
        <h2><%= spot.location %></h2>
        <h3><%= spot.description %></h3>
      </div>
      <div class="show-image">
        <img src="<%= spot.image %>" alt="" />
      </div>
      <div class="show-buttons">
        <a href="/spots">Back to All</a>
        <a href="/spots/<%= spot._id %>/edit">Edit Spot</a>
        <div class="show-delete-form">
          <form action="/spots/<%= spot._id %>?_method=DELETE" method="POST">
            <button class="show-delete-button">Delete Spot</button>
          </form>
        </div>
      </div>
    </div>
    <div class="show-card-2">
      <form action="">
        <div class="review-form-main form-control-review">
          <label for="body">Review:</label>
          <textarea name="review[body]" id="body" cols="30" rows="3"></textarea>
        </div>
        <div class="rating-form-main form-control-review-rating">
          <label for="rating">Rating:</label>
          <input type="range" min="0" max="5" />
        </div>
      </form>
    </div>
  </div>
</section>
